{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | Balwarte Cartel</title>
    <link rel="icon" href="{% static 'img/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/forgot.css' %}">
</head>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <div class="section">
            <h4>Please enter your Username and a change password link will be sent to your email after you submit</h4>
            <form method="POST">
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" name="username" required>
                <input type="submit" value="Submit">
            </form>
            {% if messages %}
                {% for message in messages %}
                    <p style="text-align: center; font-size: 15px; font-weight: bold;">{{message}}</p>
                {% endfor %}
            {% endif %}
           
        </div>
    </div>
    <!-- <h3>Forgot password</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form> -->
</body>
</html>