{% extends "index.html" %}
{% block content%}
{% load static %}
<div class="card">
    <h1>
        CLOTHING LINE STRAIGHT FROM THE STREETS.
    </h1>
    <h3>
        Check out awesome clothes from the hood.
    </h3>
    <button id="shop"> SHOP NOW </button>
    <div class="top" id="top" onclick="scrollToTop()">
        <div class="line1"></div>
        <div class="line2"></div>
    </div>
    <!-- <button onclick="scrollToTop()" class="scroll-top">☝️</button> -->
</div>

<div class="topSeller">
    <h1>TOP SELLERS</h1>
    <hr>
    <div class="products">
        <div class="tshirts">
            <img src="{% static 'img/Products/balwarte sample 1.png' %}" alt="">
            <h2>Hella Greedy (Black)</h2>
            <h2>₱ 550</h2>
        </div>
        <div class="tshirts">
            <img src="{% static 'img/Products/Hella Greedy White.png' %}" alt="">
            <h2>Hella Greedy(White)</h2>
            <h2>₱ 550</h2>
        </div>
        <div class="tshirts">
            <img src="{% static 'img/Products/Hella Greedy Red.png' %}" alt="">
            <h2>Hella Greedy (Red)</h2>
            <h2>₱ 550</h2>
        </div>
    </div>
</div>

<div class="about" id="abt">
    <h1>ABOUT THE BRAND</h1>
    <div class="container">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, voluptatum, magnam eveniet laboriosam exercitationem ratione earum deserunt rem eos nisi inventore eum debitis necessitatibus aliquam, minus praesentium unde? Velit, consequatur neque? Atque, corporis officiis? Excepturi repellat molestiae sequi quis accusantium quo, in mollitia! Dolores voluptatibus nobis placeat at pariatur, repudiandae quas error praesentium fugit quos doloremque consequuntur commodi repellendus corrupti.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, voluptatum, magnam eveniet laboriosam exercitationem ratione earum deserunt rem eos nisi inventore eum debitis necessitatibus aliquam, minus praesentium unde? Velit, consequatur neque? Atque, corporis officiis? Excepturi repellat molestiae sequi quis accusantium quo, in mollitia! Dolores voluptatibus nobis placeat at pariatur, repudiandae quas error praesentium fugit quos doloremque consequuntur commodi repellendus corrupti.</p>
    </div>
</div>

<div class="contactUs" id="contact">
    <div class="leftSide">
        <h1>CONTACT US</h1>
        <div class="lowerSide">
            <img class="logos" src="{% static 'img/Logo2.png' %}" alt="">
            <div class="icons">
                <img src="{% static 'img/Icons/Facebook.png' %}" alt="">
                <img src="{% static 'img/Icons/Instagram Circle.png' %}" alt="">
                <img src="{% static 'img/Icons/Gmail.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="rightSide">
        <form action="">
            <label for="fname">FULL NAME</label><br>
            <input type="text" name="" id=""><br>
            <label for="email">EMAIL</label><br>
            <input type="email" name="" id=""><br>
            <label for="message">MESSAGE</label><br>
            <textarea name="" id="" ></textarea>
            <button>SUBMIT</button>
        </form>
    </div>
</div>
<footer>
    <!-- <img class="logos1" src="/src/img/Logo2.png" alt="" srcset=""> -->
    <h4>Copyright © 2021 <a href="/">Balwarte Cartel</a>. All Rights Reserved</h4>
</footer>
{% endblock %}